PORT=9001

DB_HOST=linkedin-scraper.postgres.database.azure.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=linkedin_scraper
DB_PASSWORD=your_password_here

OPENSEARCH_URL=https://98.70.36.206:9200
OPENSEARCH_INDEX=profiles
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=Link3diN$c6ap3rOp3nS3a6ch

NODE_ENV=development
LOG_LEVEL=info
